body {
  background-color: #e67300;
}
button {
  background-color: rgb(228, 178, 85);
  border: 2px solid rgba(15, 13, 10, 0.322);
  text-align: center;
  color: rgb(4, 3, 14);
  font-size: 30px;
  font-family: "Dancing Script";
  position: absolute;
  border-radius: 5px;
  text-decoration: underline;
}
div {
  background-color: rgb(228, 178, 85);
  font-family: "Dancing Script";
  font-size: 80px;
  color: black;
  height: 75px;
}
img {
  border-radius: 200px;
  width: 350px;
  height: 350px;
}
header{
  background-color: rgb(228, 178, 85);
  text-align: center;
  font-family: "Dancing Script";
  font-size: 75px;
  border-radius: 10px;
}
b {
  font-size: 35px;
}
p {
  background-color: rgb(228, 178, 85);
  text-align: center;
  font-family: "Dancing Script";
  font-size: 75px;
  border-radius: 10px;
}
p:hover {
  background-color: rgb(207, 145, 30);
}
button:hover {
  background-color: rgb(207, 145, 30);
}
